@import 'base.css';

/*------------------------------------------
Header Navigation Styling
-------------------------------------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    background-color: #54A847;
}

h1 {
    color: #FFF;
    font-size: 24px;
    text-transform: uppercase;
}

nav {
    height: 56px;
    font-size: 100%;
    color: #FFF;
    overflow: hidden;
}

nav ul {
    float: none;
    list-style: none;
}

nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    display: inline-block;
    padding: 0 20px;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .2px;
    text-transform: none;
    cursor: pointer;
}

nav ul li a:hover {
    color: #5E58A8;
}

nav ul li+li {
    margin-left: 0;
}


/*------------------------------------
Columns
--------------------------------------*/

.quantity-text {
    font-size: 1.5em;
    font-weight: bold;
}

.icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: aqua;
    margin-left: 20px;
    margin-right: 20px;
}

.maroon-icon {
    color: #d7195e;
    background-color: #d7195e55;
}

.purple-icon {
    color: #5941a2;
    background-color: #5941a255;
}

.orange-icon {
    color: #fc9908;
    background-color: #fc990855;
}

.green-icon {
    color: #428744;
    background-color: #42874455;
}

.blue-icon {
    color: #227bc1;
    background-color: #227bc155;
}

.red-icon {
    color: #c22d28;
    background-color: #c22d2855;
}

.fas {
    line-height: 40px !important;
}

main {
    width: 80vw;
    margin-left: 10vw;
    margin-top: calc((100vh - 56px - 230px) / 2);
}

.row {
    display: flex;
}

.row+.row {
    margin-top: 30px;
}

.col {
    height: 100px;
    background-color: #fff;
    box-shadow: 1px 1px 2px #e4e5e8;
    display: flex;
    align-items: center;
}

.col p {
    margin-left: 5px;
    margin-top: 6px;
}

.col+.col {
    margin-left: 25px;
}

.three {
    width: calc(100% / 3 - 25px / 3);
}

/*-----------------------------------------
Input Styling
-------------------------------------------*/

input[type="text"] {
    background: rgba(0, 0, 0, 0.5) url("../images/search-magnifier.png") no-repeat 96% center;
    background-size: 12px 12px;
    color: #FFF;
}

input {
    margin-left: calc(283.55px - 156.9px);
    width: 375px;
    height: 40px;
    padding: 0 15px;
    background-color: #3A7531;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    transition: background-color .25 ease-in-out;
}

input::placeholder {
    color: #FFF;
}

input:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

input:focus {
    background-color: rgba(0, 0, 0, 0.2);
}